graft src/fhirpath
prune src/fhirpath/fhirspec
prune docs
prune static
prune tests
prune scripts
prune .github
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include src/fhirpath/fhirspec/*.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude Makefile .editorconfig Pipfile* tox.ini buildout.cfg .gitmodules .readthedocs.yml .lgtm.yml
exclude mypy.ini .flake8 .isort.cfg
exclude  src/fhirpath/version.py

