graft src/fhirpath
prune docs
prune static
prune .github
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude Makefile .editorconfig Pipfile* tox.ini
