[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fhirpath = {editable = true,extras = ["test"],path = "."}
black = "*"
isort = "*"
flake8 = "*"
flake8-isort = "*"
zc-buildout = "*"
setuptools = "*"

[packages]
fhir-resources = {version = ">=5.0.0b2"}
zope-interface = "*"
zope-component = "*"
multidict = "*"
decorator = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"
tox = "*"
certifi = "*"
zest-releaser = {extras = ["recommended"],version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
