[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fhirpath = {path = ".",extras = ["test"],editable = true}
black = "*"
isort = "*"
flake8 = "*"
flake8-isort = "*"
zc-buildout = "*"
setuptools = "*"

[packages]
fhir-resources = {version="==3.0.1"}
zope-interface = "*"
zope-component = "*"
multidict = "*"
decorator = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"
tox = "*"
certifi = "*"
zest-releaser = {extras = ["recommended"],version = "*"}

[requires]
python_version = ">=3.4,<=3.8.*"
